<div class = "container" id= "education">
<form class="pure-form pure-form-aligned page2">
    <fieldset>
        <div class="pure-control-group">
            <label for="job-title">Job Title</label>
            <input type="text" id="job-title" placeholder="job title" />
            </div>

        <div class="pure-control-group">
            <label for ="Employer">Employer</label>
            <input type="text" id="employer" placeholder="Employer" />
        </div>

        <div class="pure-control-group">
            <label for ="startDate">Start Date</label>
            <input type="text" id="startDate" placeholder="start date" />
        </div>

        <div class="pure-controls">
            <label for="aligned-cb" class="pure-checkbox">
                <input type="checkbox" id="employed" /> Is this your current employer? 
            </label>
        </div>

        <div class="pure-control-group">
            <label for ="endDate">End Date </label>
            <input type="text" id="endDate" placeholder="end date if applicable" />
        </div>
       
       <div class="pure-control-group">
            <label for="aligned-cb" class="pure-checkbox">
                <input type="checkbox" id="reference" /> Would this company be a good reference?
            </label>
        </div> 
        <a href="#open-modal">Open Modal</a>
        <button class="ui button" type="submit">Submit</button>
    </fieldset>
</form>
</div>

