<div class = "container" id= "education">
<form class="pure-form pure-form-aligned page2">
    <fieldset>
        <div class="pure-control-group">
            <label for="job-title">Desired Degree</label>
            <input type="text" id="userDesiredDegree" placeholder="Degree" />
            </div>

        <div class="pure-control-group">
            <label for ="Name of Institute">Name of Institute</label>
            <input type="text" id="userInstitute" placeholder="What is the name of the School or University?" />
        </div>

        <div class="pure-control-group">
            <label for ="Location of Institute">Location of Institute</label>
            <input type="text" id="userLocation" placeholder="City and State that it is located in (City, State)" />
        </div>

                <div class="pure-control-group">
            <label for ="endDate">Start Date</label>
            <input type="text" id="userEdStartDate" placeholder="When did you start attending this Institute?" />

        <!--<div class="pure-controls">
            <label for="aligned-cb" class="pure-checkbox">
                <input type="checkbox" id="userCurrentEducation" /> Are you currently attending this Institute?</label> 
        </div>-->

        <div class="pure-control-group">
            <label for ="endDate">End Date </label>
            <input type="text" id="userEdEndDate" placeholder="end date if applicable" />
        </div>
    
        <!--<div class="pure-control-group">
            < for="aligned-cb" class="pure-checkbox">
                <input type="checkbox" id="userDegreeCompleted" /> Did you complete and receive this degree?</label>-->
        </div> 
        <button class="ui button" type="submit" id="education-btn">Submit</button>
        
    </fieldset>
</form>
</div>
<script src="/js/education.js"></script>



