<div class="container" id="experience">
  <form class="pure-form pure-form-aligned page2">
    <fieldset>
      <div class="pure-control-group">
        <label for="job-title">Job Title</label>
        <input type="text" id="userJobTitle" placeholder="job title" />
      </div>

      <div class="pure-control-group">
        <label for="Employer">Employer</label>
        <input type="text" id="userEmployer" placeholder="Employer" />
      </div>
      <div class="pure-control-group">
        <label for="Employer">city</label>
        <input type="text" id="userCity" placeholder="City" />
      </div>

      <div class="pure-control-group">
        <label for="Employer">state</label>
        <input type="text" id="userState" placeholder="State" />
      </div>
      <div class="pure-control-group">
        <label for="startDate">Start Date</label>
        <input type="text" id="userStartDate" placeholder="start date" />
      </div>

      <!-- <div class="pure-controls">
            <label for="aligned-cb" class="pure-checkbox">
                <input type="checkbox" id="userCurrentEmployer" /> Is this your current employer? 
            </label>
        </div>-->

      <div class="pure-control-group">
        <label for="endDate">End Date </label>
        <input
          type="text"
          id="userEndDate"
          placeholder="end date if applicable"
        />
      </div>

      <!-- <div class="pure-control-group">
            <label for="aligned-cb" class="pure-checkbox">
                <input type="checkbox" id="userGoodContact" /> Would this company be a good reference?
            </label>
        </div> -->
      <button class="ui button" type="submit" id="experience">Submit</button>

    </fieldset>
  </form>
</div>
<script src="/js/experienceroute.js"></script>