<div class="welcomeImage">
  <img
    src=".images/Freedom_Image"
    alt="chains breaking into birds"
    style="width:100%;"
  />
  <h1 class="Title">Finding Freedom</h1>
</div>
<div class="topnav">
  <a href=".views/homepage.hbs">Login</a>
  <a href=".partails/register.hbs">Register</a>
  <a href="#contact">Helpful Hints</a>
</div>


<div>Each year around 600,000 people transition out of prison. All of these
  people need work to support themselves, their families, to successfully
  integrate back into the community, and to avoid recidivism. However, the
  unemployment rate for former inmates was over 27% leaving it over five times
  higher than the national average at the same time and also higher than any
  other period in American history including during the Great Depression.
  Factors such as gender and race also play a huge role in this statistic. The
  overall percent of unemployment amongst formerly incarcerated individuals is
  only expected to grow in the coming years. Our goal at Finding Freedom is to
  provide a useful resume tool that will provide former inmates with a
  professional resume along with some helpful hints on the best practices that
  have been found to lead to job procurement.</div>
