<div class="container pt-3">
  <div class="row">
    <div class="col-6 d-flex justify-content-start align-item-center">
      <i class="fas fa-briefcase fa-2x text-warning pb-3"></i>
      <h5 class="text-white d-inline pl-2">Finding Freedom</h5>
    </div>
    <div class="col-6 pt-2">
      <div class="row">
        <div class="col-3">
          <a href="/login" class="text-white navigation-link">Login</a>
        </div>
        <div class="col-3">
          <a href="/signup" class="text-white navigation-link">Sign-Up</a>
        </div>
        <div class="col-3">
          <a
            href=""
            class="text-white navigation-link"
          >Support Resources</a>
        </div>
        {{#if logged_in}}
          <div class="col-3">
            <a
              href=""
              class="text-white navigation-link"
              id="logout"
            >Logout</a>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div id="about" class="container p-5">
  <div class="row">
    <div class="col-6">
      <img
        src="/img/freedom_image.jpg"
        class="img-fluid"
        alt="img about us"
      />
    </div>
    <div class="col-6 pl-5 pt-5 pb-5 text-white">
      <h3 class="text-warning">About Us</h3>
      <h1 class="m-heading">A little bit about the course</h1>
      <p>
        Each year around 600,000 people transition out of prison. All of these
        people need work to support themselves, their families, to successfully
        integrate back into the community, and to avoid recidivism. However, the
        unemployment rate for former inmates was over 27% in 2008 leaving it
        over five times higher than the national average at the same time and
        also higher than any other period in American history including during
        the Great Depression. Factors such as gender and race also play a huge
        role in this statistic. The overall percent of unemployment amongst
        formerly incarcerated individuals is only expected to grow in the coming
        years. Our goal with Finding Freedom is to provide a useful resume tool
        that will provide former inmates with a professional resume along with
        some helpful hints on the best practices that have been found to lead to
        job procurement
      </p>
    </div>
  </div>
</div>
<footer>

</footer>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}