<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <lebel for="email">Email</lebel>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <lebel for="password">Password</lebel>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Sign Up</button>
    <a href="./partails/register.hbs">Register</a>
</form>

