<div class="container">
  <div class="card">
    <div class="inner-box">
      <div class="car-front">
        <h2>LOGIN</h2>
        <form>
          <input
            type="text"
            class="input-box"
            id="username"
            placeholder="Enter your UserName"
            required
          />
          <input
            type="password"
            class="input-box"
            id="userpws"
            placeholder="Enter your password"
            required
          />
          <button type="submit" class="submit-btn">submit</button>
          <input type="checkbox" /><span>Remember Me</span>
        </form>
        <a href="/signup">
          <button>Sign-up</button>
        </a>

        <a href="">Forgot password</a>
      </div>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>