<div class="container">
  <div class="card">
    <div class="inner-box">
      <div class="car-front">
        <h2>REGISTER</h2>
        <form>
          <input
            type="email"
            class="input-box"
            placeholder="Create your UserName"
            required
          />
          <input
            type="password"
            class="input-box"
            placeholder="Create your password"
            required
          />
          <button type="submit" class="submit-btn">submit</button>
          <input type="checkbox" /><span>Remember Me</span>
        </form>
        <a href="/" > <button>LOGIN</button>
</a>
        <a href="">Forgot password</a>
      </div>
    </div>
  </div>
</div>

<script src="/js/sign-up.js"></script>