<div class="container" >
  <form class="pure-form pure-form-aligned page3">
    <fieldset class="pure-group">
      <input type="text" class="pure-input-1-2" id="skill" placeholder="Personal Skills" />
      <textarea
        class="pure-input-1-2" id="skillDisc"
        placeholder="Please tell us about some personal skills, hobbies, languages ext."
      ></textarea>
    </fieldset>
    <button
      type="submit"
      id="skill-btn"
      class="pure-button pure-input-1-2 pure-button-primary"
    >Submit</button>
  </form>
</div>
<script src="/js/skills.js"></script>