html {
  scroll-behavior: smooth;
}

body {
  background-color: #151518;
  font-family: "Baloo Tamma 2", cursive;
}
/* Main Heading Font */
.m-heading {
  font-family: "Roboto Slab", serif;
}
.navigation-link {
  border: 2px solid transparent;
}
.navigation-link:hover {
  text-decoration: node;
  border-bottom: 2px solid #2be6f3;
  transition: 0.5s ease;
}

#about {
  background: rgb(113, 158, 45);
  border-radius: 1.1rem;
}

/*login/logout*/
