h1 {
    text-align: center;
    color: #0A2239;
}

h2 {
    text-align: center;
    color:#F19A3E;
}

h3 {
    text-align:center;
    background-color: #0A2239;
    color: #D0EFB1;
}

h4 {
    text-align: center;
    color:#F19A3E
}

a {
    color: #58A4B0
}

a:hover {
    background-color:#F19A3E;
    color: white;
}

p {
    font-size: large;
    font-weight: bold;
}

img {
    max-width:50%;
    align: center;
}

