h1 {
    text-align: center;
    color: #3A3042;
}

h2 {
    text-align: center;
    color:#FF784F;
}

h3 {
    text-align:center;
    background-color: #3A3042;
    color: #B0FF92;
    margin-left: 7%;
    margin-right: 7%;
}

h4 {
    text-align: center;
    color:#FF784F
}

a {
    color: #30C5FF;
}

li {
    margin-left: 7%;
    margin-right: 7%;
}

a:hover {
    background-color:#FF784F;
    text-emphasis-color: white;
}

p {
    font-size: large;
    font-weight: bold;
    margin-left: 7%;
    margin-right: 7%;
    M
}

# supportPic {
    max-width: 50%;
    margin-left: 25%;
}

